{
  "presets": [
	"es2015",
	"stage-0",
	"react"
  ],
  "env": {
	"development": {
	  "plugins": [
		"transform-es2015-modules-commonjs"
	  ]
	},
	"test": {
	  "plugins": [
		"transform-es2015-modules-commonjs",
		"istanbul"
	  ]
	},
	"production": {
	  "plugins": [
		"transform-es2015-modules-commonjs"
	  ]
	}
  }
}
